<h1>Your rankings</h1>
<ul class="residents">
  <% current_user.rankings.each do |ranking| %>
    <li>
      <%= link_to "#{ranking.resident.name}'s ranking - #{ranking.update_message}",
      edit_user_resident_ranking_path(current_user, ranking, resident_id: ranking.resident_id)%>
    </li>
    <small class="delete-ranking"><%= link_to "Remove resident", user_resident_path(ranking.resident, current_user), method: :destroy %></small>
  <% end %>
</ul>

