<h1>Your rankings</h1>
<ul class="residents">
  <% @rankings.each do |ranking| %>
    <li>
      <%= link_to "#{ranking.resident_name}'s ranking -
      #{ranking.update_message}",edit_user_ranking_path(current_user, ranking)%>
    </li>
    <small class="delete-ranking"><%= link_to "Remove resident",
      user_ranking_path(current_user, ranking), method: :delete %></small>
  <% end %>
</ul>

