<h2>More details</h2>
<!-- write Ruby scripts to fetch Zillow data and return them here like in search -->
<!-- use data attributes to store zpid in each li? -->
<!-- when the user clicks on a result, pass that
    result's zpid to the detailed search methods -->
<!-- then give users the ability to save a candidate -->
