<div class="container">
  <h2>Add a new address</h2>
  <p class="bg-info">Use this form if you can't find an address by <%= link_to "searching for it", page_path(:search, :current_user => current_user)%>.</p>
  <%= render 'form' %>
</div>
