<h2>We've ranked your saved addresses</h2>

<h3>Here is the best fit</h3>
<%= link_to(@ranked_candidates[:best_fit].street, user_candidate_path(current_user, @ranked_candidates[:best_fit])) %>

<h4>Here are some other good fits</h4>
<% @ranked_candidates[:good_fits].each do |candidate| %>
  <%= link_to(candidate.street, user_candidate_path(current_user, candidate)) %>
<% end %>

<h4>We don't think you'd like living in the following places</h4>
<% @ranked_candidates[:poor_fits].each do |candidate| %>
  <%= link_to(candidate.street, user_candidate_path(current_user, candidate)) %>
<% end %>
